

<br><br>
<div class="d-flex justify-content-center" style="height:50px">

    <div class="item">
            <Label>UserName: </Label>
            <input #userName  type="text" name="userName" required>
    </div>

</div>

<div class="d-flex justify-content-center" style="height:50px">

    <div class="item">
        <Label>Password: </Label>
        <input #password type="password" name="password" required>
    </div>
</div>

<div class="d-flex justify-content-center" style="height:50px">

    <div>
        <button mat-raised-button type="submit" class="submit-button" 
        >Submit Request</button> 
    </div>
    
</div>
